/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
/** LOGIN CSS **/
.page_connexion{
	width: 45%;
	height: auto;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-self: center;
	position: relative;
	
}

#mainLogin {
	height: 90vh;
}

.page_connexion h2{
	margin:auto;
}

.page_connexion form{
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
}

.page_connexion label{
	font-size: 1rem;
	margin: 1rem 0;
}

.page_connexion input{
	height: 3rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	border-style:hidden;
	box-shadow: 0px 0px 10px rgb(201, 199, 199);
}

#email_error, #password_error {
	color: red;
	font-weight: bold;
}

.page_connexion a{
	margin: auto;
	color: black;
}



/** END LOGIN CSS**/
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li.inactive {
	display: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio button{
	color: black;
	font-weight: bold;
	
}

/**** MODAL CSS ****/
.modal{
	position: fixed;
	display: grid;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal_header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color:white;
	width: 100%;
	height: 2rem;
	font-size: 2em;
}

.modal_wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-self: center;
	max-width: 70vh;
	max-height: 75vh;
	width: 700px;
	height: 800px;
	padding: 2rem;
	overflow: auto;
	background-color: white;
}

#addPic {
	position: relative;
	top: 10rem;
}

#workForm {
	display: flex;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	flex-direction: column;
}

.modal_wrapper h3{
	justify-self: center;
	margin: 3rem auto;
	font-size: 1.5rem;
}

.modal_gallery{
	width: auto;
	height: auto;
	display: grid;
	column-gap: 2%;
	row-gap: 5%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.modal_gallery figure{
	position: relative;
}

.modal_gallery img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

#closeCross {
	position: absolute;
	height: auto;
	top: 3px;
	right: 3px;
}

#returnArrow {
	position: absolute;
	height: auto;
	top: 3px;
	left: 3px;
}

figure span{
	position: absolute;
	height: auto;
	top: 5px;
	right: 5px;
	background-color: black;
	color: white;
}

.modal_wrapper #title, select{
	border-style: hidden;
	margin-top: 1rem;
	height: 10%;
	box-shadow: 0px 0px 5px rgb(201, 199, 199);
}

#validate,#addPic {
	border-style: hidden;
	padding: 0.6rem 2rem;
}

#zoneImage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 50%;
	height: 100%;
	
}

#zoneImage p{
	margin: auto;
}

#zoneImage img{
	width: 100%;
	height: 100%;
	object-fit:fill;
	margin: 0;
}

#addFile{
	background-color: rgb(228, 236, 238);
	height: 13rem;
	width: 100%;
}

#addPicture{
	font-size: 6rem;
	margin: auto;
	color: rgb(190, 190, 190);
}

.formLabel {
	margin-top: 3rem;
	font-size: 1rem;
}



#addFileButton{
	font-family: 'Syne';
	font-weight: 700;
	color: rgb(33, 90, 165);
	background-color: rgb(207, 207, 207);
	margin : auto ;
	width: 80%;
	padding: 0.7rem 0.5rem;
	text-align: center;
	border-radius: 60px ;
}

#fileInput{
	width: 70%;
	height: 10rem;
	padding:0;
	margin: 0 auto; 
	position: absolute;
	box-shadow:none;
	opacity: 0;
}

/**** END MODAL CSS ****/


/******* PORTFOLIO CSS ***********/
.gallery {
	width: auto;
	height: auto;
	margin : 4rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 3rem;
}

#portfolio a{
	all: unset;
	color: black;
	font-size: small;
}

#editSpan{
	font-size: 1rem;
	margin: 0 0.7rem;
}
.gallery img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.gallery figcaption{
	margin-top: 0.5rem;
}
.filtres{
	display: flex;
	font-family: 'Syne';
	justify-content: center;
	margin-bottom: 30px;
}

.filtres button{
	background-color: white;
	color: #1D6154;
	font-weight: bold;
	border: 2px solid #1D6154;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 0 5px;
}

.filtres button:hover, .filtres button.active{
	background-color: #1D6154;
	color:white;
}
/******* END PORTFOLIO CSS ***********/
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.inactive {
	display: none !important;
}
